#psb-body {
    font-family: system-ui;
    /* background: #0f172a; */
    color: #000000;
    padding: 20px;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    width: calc(50% - 40px);
    top: 50%;
    height: -webkit-fill-available;
}

#psb-matches {
    flex-shrink: 0;
    display: flex;
    flex-direction: column-reverse;
    height: -webkit-fill-available;
    overflow-y: scroll;
}

#psb-details {
    flex-grow: 1;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease
}

#psb-details.psb-visible {
    opacity: 1;
    transform: translateY(0)
}

#psb-matches h1 {
    font-size: 20px;
    margin-bottom: 12px
}

.psb-match-btn {
    background: #a5afc5;
    border: 0;
    padding: 10px;
    border-radius: 8px;
    color: #000000;
    margin: 5px;
    cursor: pointer;
    display: block;
    width: 250px;
    text-align: center
}

.psb-match-btn:hover {
    background: #90b1ff
}

.psb-btn-type {
    display: block;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
}

.psb-btn-sub {
    display: block;
    font-size: 12px;
    opacity: 0.8
}

.psb-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px
}

.psb-table th,
.psb-table td {
    padding: 6px 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: 13px
}

.psb-win-true {
    color: #00a73a
}

.psb-win-false {
    color: #c91414
}


div.rank-up-container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

div.rank-up-container.falling {
    animation: fallDown 1.0s ease-in forwards;
}

@keyframes fallDown {
    0% {
        transform: 0;
    }

    100% {
        transform: translateY(99%);
    }
}

table.rank-up-table {
    display: none;
    position: fixed;
    top: calc(50% - 200px);
    height: 200px;
    font-size: 3em;
    text-align: center;
    width: 500px;
    left: calc(50% - 250px);
    color: black;
    font-family: "Russo One", sans-serif;
}

.rank-up-total-point {
    font-family: 'Russo One', sans-serif;
    font-size: 10em;
    color: #000000;
    text-align: center;
    position: fixed;
    top: calc(50% - 50px);
    width: 100%;
}

.rank-up-point {
    font-family: 'Russo One', sans-serif;
    font-size: 2em;
    color: #000000;
    text-align: center;
    position: fixed;
    bottom: 30%;
    width: 100%;
}

.center-text {
    font-family: 'Stick', sans-serif;
    font-size: 3em;
    color: white;
    text-align: center;
    position: fixed;
    top: 30%;
    width: calc(100% - 20px);
    background-color: #55555555;
    padding: 10px;
}

body>div.center-text>span {
    font-size: 5em;
    font-family: "Russo One", sans-serif;
    color: lightyellow;
}

canvas#confettiCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}