@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: #04071a;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.init {
    background-color: #04071a;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.init.fadeout{
    animation: big-fadeout 0.3s forwards linear;
}

.init > span {
    display: block;
    letter-spacing: 5px;
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 2em;
}

.init > hr {
    position: relative;
    top: calc(50%);
    animation: hr-wide 1.5s forwards cubic-bezier(0.01, -0.01, 0, 1);
}

@keyframes hr-wide{
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes big-fadeout{
    0% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 2;
        opacity: 0;
    }
}

.user-block {
  background-color: #424452;
  margin: 20px;
  height: 70px;
}

.user-block > div {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  top: 20px;
}

.user-name {
  left: 20px;
  width: 70%;
}

.user-point {
  left: 0;
  width: 20%;
}

.user-rank {
  left: 0;
}

.user-container {
    width: 50%;
}